<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="css/404.css">
</head>

<body>

    <div id="error-page">
        <div class="background-404"></div>
        <header class="top-nav">
            <a class="logo-9gag" href="/">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="64px"
                    height="48px"
                    viewBox="0 0 64 48"
                    version="1.1"
                >
                    <title>logo</title>
                    <desc>Created with Sketch.</desc>
                    <g
                        id="Asset"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                    >
                        <g id="logo" fill="#FFFFFF">
                            <path
                                d="M32 12L21 18.25 21 20.75 32 27 38.6 23.25 38.6 28.25 32 32 25.4 28.25 21 30.75 32 37 43 30.75 43 18.25 32 12ZM27.6 19.5L32 17 36.4 19.5 32 22 27.6 19.5 27.6 19.5Z"
                                id="Icon"
                            />
                        </g>
                    </g>
                </svg>
            </a>
        </header>
        <div class="message-404">
            <h1>404</h1>
            <h2>There's nothing here.</h2>
            <h3>Congrats. You broke it. I’m as shocked as you are – but don’t worry, there’s an easy fix.</h3>
            <button class="btn-download-app" onclick="window.location.href = '/'">Go to Home Page</button>
        </div>
        </div>
    </div>

    <footer>
        &copy; 2024 Messaging Website
    </footer>
    <script src="js/script.js"></script>
</body>

</html>
