<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Messaging Website</title>
    <link rel="stylesheet" href="/css/homePage.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li id="li1"><a href="home">Home</a></li>
                <li id="li2"><a href="submit">Submit a Message</a></li>
                <li id="li3"><a href="view">View Messages</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome to the Messaging Website</h1>
        <p>This website allows users to send messages via a form and view these messages in a table on a separate page.
            It's a simple and efficient way to communicate.</p>
    </main>

    <footer>
        &copy; 2024 Messaging Website
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>